/target

# Ignore any generated Cargo.lock files except the one in the root directory.
*/**/Cargo.lock

# Ignore file 'output'. File used to dump terminal output for later review.
/output

# Ignore VSCode specific settings and other info.
# Except certain code snippets.
/.vscode/*
!/.vscode/nom.code-snippets